RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteRule ^assets/.+$ - [L]
RewriteCond %{DOCUMENT_ROOT}/assets/$0 -f
RewriteRule ^.+$ /assets/$0 [L]